html{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header{
    min-width: 100vw;
    color: white;
    background-color: #2564cf;
}

.do-header{
    display: flex;
    align-items: stretch;
    min-height: 48px;
    
}
.owaBranding-container{
    display: flex;
}
.btn-app{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding-bottom: 2px;
    padding-right: 10px;
}

.btn-app svg{
    fill: white;
}

.owaBranding-container .btn-app:hover{
    background-color: #005A9E;
}

.owaBranding-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    min-width: 50px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.owaBranding-container a:hover{
    text-decoration: underline;
}

.ToDoSearchBox-center-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0 16px;
    width: 100%;
}

.ToDoSearchBox-container{
    position: relative;
    flex-grow: 1;
    max-width: 365px;
    width: 100%;
}
.ToDo-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    left: 2px;
    background: none;
    border: none;
    cursor: pointer;
    color: #6598f0; 
}
.ToDo-btn i{
    display: inline-block;
    font-size: 18px;
    transform: rotate(90deg);
}
.ToDo-btn-delete{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    right: -3.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #6598f0;
}

.box-look-for{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: none;
    padding-left: 35px;
    padding-right: 22px;
    font-size: 14px;
    background-color: #ffffff; 
    cursor: pointer;
    transform: box-shadow 0.2s ease-in-out;
}

.box-look-for:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(101, 152, 240, 0.4); 
}

.box-look-for:hover{
    background-color: #f5f5f5; 
}

.ToDo-user-container{
    display: flex;
    width: 150px;
}
.ToDo-settings-question{
    display: flex;
    width: 100px;
}
.btn-settings:hover{
    background-color: #005A9E;
}
.btn-question:hover{
    background-color: #005A9E;
}
.user-info{
    display: flex;
    align-items: center;
    width: 50px;

}
.user-info:hover{
    background-color: #005A9E;
}
.conf-btn-app{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    width: 70px;
}

/* 2. El Contenido Principal (La vista de la lista de tareas) */
.main-view {
    flex-grow: 1; /* Ocupa todo el espacio restante */
    padding: 20px 40px; /* Relleno interior para el contenido */
    background-color: #f3f2f1; /* Mismo fondo que el body */
}