html{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    margin-bottom: 20px;
    min-width: 100vw;
    color: white;
    background-color: #2564cf;
}

.do-header{
    display: flex;
    align-items: stretch;
    min-height: 48px;
    padding-right: 5px;
}
.owaBranding-container{
    display: flex;
}
.btn-app{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding-bottom: 2px;
    padding-right: 10px;
}

.btn-app svg{
    fill: white;
}

.owaBranding-container .btn-app:hover{
    background-color: #005A9E;
}

.owaBranding-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    min-width: 50px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.owaBranding-container a:hover{
    text-decoration: underline;
}

.ToDoSearchBox-center-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ToDoSearchBox-container{
    width: 350px;
    background-color: red;
}
.ToDo-user-container{
    display: flex;
    align-items: center;
}
