.sidebar-container {
    width: 300px; /* Ancho fijo del sidebar */
    min-width: 200px; 
    background-color: #fff;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
    user-select: none;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item i {
    font-size: 20px;
    margin-right: 15px;
    color: #0078d4; /* Color de icono predeterminado */
}

.menu-item .label {
    flex-grow: 1;
}

.menu-item .count {
    font-weight: 600;
    color: #777;
    margin-left: 10px;
}

.menu-sidebar{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 35px 20px 15px 15px;
    font-size: 18px;
    color: #0078d4;
}

.menu-sidebar i{
    cursor: pointer;
}
/* Estilo para el elemento activo (resaltado) */
.menu-item.active {
    background-color: #e5f1ff; /* Fondo más claro para activo */
    font-weight: 600;
    border-left: 3px solid #0078d4; /* Barra de color azul */
    padding-left: 12px; /* Ajusta el padding para la barra */
    color: #0078d4;
}

.menu-item.active i {
    color: #0078d4;
}
/* Estilo para el botón de nueva lista */
.new-list-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 14px;
    color: #0078d4;
    transition: background-color 0.2s;
}
.new-list{
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    width: 80%;
    min-height: 40px;
}

.new-list:hover {
    background-color: #f0f0f0;
}

.new-list i {
    font-size: 18px;
    margin-right: 15px;
}

.create-gruop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    min-height: 40px;
}
.create-gruop:hover{
    background-color: #f0f0f0;
}

.icon_note svg {
  fill: #0078d4;
}

.new-list-button span {
    flex-grow: 1;
    text-align: left;
}
