/* You can add global styles to this file, and also import other style files */
/* styles.css */
/* src/styles.css */

body {
    margin: 0;
    font-family: "Segoe", "Segoe UI", "Arial", "sans-serif"; /* Fuente moderna y limpia */
    background-color: #f3f2f1; /* Fondo muy claro, casi blanco */
}

.app-container {
    display: flex;
    min-height: calc(100vh - 50px); /* Ocupa la altura restante después del header */
    width: 100%;
}